// ---------- COLORS ---------- 

$primary-text-color: rgb(77,75,73);
$primary-text-color-hover: rgb(0,0,0);
$secondary-text-color: rgb(174,169,164);
$primary-background-color: white;
$secondary-background-color: rgb(243,238,233);
$ternary-background-color: rgb(198,193,187);
$googleplus-color:#dd4b39;
$facebook-color:#3b5998;
$twitter-color:#1da1f2;
$instagram-color:#fbad50;
$highlight-color: #ffb000;
$alert-color-bg: #C23F38;
$success-color-bg: #4F8A10;

// ---------- FONTS ---------- 
$logo-font: 'Rock Salt', cursive;
$headline-font: 'Alfa Slab One', cursive;
$text-font: "Raleway", Arial, sans-serif;



